<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Decozee Shopping App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body class=" text-center ">
  <!-- <div class="cover-container d-flex w-100 h-100 mx-auto flex-column"> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
    <header class="mb-auto">
      <div>
        
     <nav class="nav nav masthead  float-md-right">
       <!-- <a class="navbar-brand">ABHIMAAN</a> -->
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="/products">Products</a>
        <% if(!currentUser){ %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
        <%}else{%>
          <a class="nav-link" href="/logout">Logout</a> 
          <% } %>
  </nav>
  <!-- </div> -->
</header>
 <main class="px-3">
  
   <h1 class="rainbow-text">ABHIMAAN</h1>
   <p>Welome to Online Shopping Cart</p> 
   <a id="view-btn"class="btn btn-sm btn-secondary font-weight-bolder" href="/products">View Products</a>

  </main>
</div>
</div>
</div>

<section >
  <div class="container">
    <div class="row">
      <div class="col-md-3" id="shopping-cart">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgUs59m9AtQ1GRAdSJNx3HzP2tRIW_fUW9RkLl8j4lWF7zzmj1fp2-EvxvefVYnLDodMY&usqp=CAU" alt="Avatar" class="image"style="border-radius: 15px;">
        <div class="overlay">Diya</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://thumbs.dreamstime.com/b/handbags-782732.jpg" alt="Avatar" class="image" style="border-radius: 15px;">
        <div class="overlay">Bag</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://i.etsystatic.com/27102588/r/il/96a79c/2857428900/il_fullxfull.2857428900_i8x3.jpg" alt="Avatar" class="image" style="border-radius: 15px;">
        <div class="overlay">Cow Dung Cake</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://compote.slate.com/images/0d786783-696c-4095-8ae6-c38f199da5e8.jpg" alt="Avatar" class="image" style="border-radius: 15px;">
        <div class="overlay">Teddy</div>
      </div>
    </div>
  </div>
</section>
<section >
  <div class="container">
    <div class="row">
      <div class="col-md-3" id="shopping-cart">
        <img src="https://previews.123rf.com/images/yunlutas/yunlutas1606/yunlutas160600047/60765879-encurtidos-caseros-exhibition-types-tarro-de-la-salmuera-.jpg" alt="Avatar" class="image" style="border-radius: 15px;">
        <div class="overlay">Pickles</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://static.toiimg.com/thumb/60032706.cms?width=1200&height=900" alt="Avatar" class="image" style="border-radius: 15px;">
        <div class="overlay">Moong Daal Papad</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://media.istockphoto.com/photos/papad-picture-id1205798594?k=20&m=1205798594&s=612x612&w=0&h=22cgvWEJMI3uvye6Xla3-gvBb0Ajim0ZornXgD5uq3w=" alt="Avatar" class="image" style="border-radius: 15px;">
        <div class="overlay">Chana Daal Papad</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRRrrzj1xmN-3iDIjijpBb3LasWGSqBE6bX1LKukcK4rTLM2mKVRMGCTuB0uCrjLDPJA&usqp=CAU" alt="Avatar" class="image" style="border-radius: 15px;">
        <div class="overlay">Painting</div>
      </div>
    </div>
  </div>
</section>
<section id="bodypart">
  <div class="bpart">
  <h2>Abhimaan shopping</h2>
  <p>Abhimaan is an electronic commerce platform which allows consumers to directly buy goods or services from a seller over the Internet using a web browser or a mobile app. The Consumers can find a product of interest by visiting the website of the retailer directly or by searching among the alternative vendors using a shopping search engine, which displays the same product's availability and pricing at different e-retailers.</p>
  </div>
</section>
<section >
  <div class="container">
    <div class="row">
      <div class="col-md-3" id="shopping-cart">
        <img src="https://i.ytimg.com/vi/_N1JuEEdhLc/maxresdefault.jpg" alt="Avatar" class="image"style="border-radius: 15px;">
        <div class="overlay">Jhumar</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://www.collinsdictionary.com/images/full/wood_119397709.jpg" alt="Avatar" class="image"style="border-radius: 15px;">
        <div class="overlay">Wood</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://static4.depositphotos.com/1014511/304/i/950/depositphotos_3048151-stock-photo-spices.jpg" alt="Avatar" class="image"style="border-radius: 15px;">
        <div class="overlay">Masala</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://pikwizard.com/photos/faf938e48d40350fe90f6bb65f70cadf-m.jpg" alt="Avatar" class="image"style="border-radius: 15px;">
        <div class="overlay">Candles</div>
      </div>
    </div>
  </div>
</section>

<section >
  <div class="container">
    <div class="row">
      <div class="col-md-3" id="shopping-cart">
        <img src="http://www.thecraftyangels.com/wp-content/uploads/2020/05/Making-your-own-floral-birthday-card-using-watercolor-watercolor-florals-card-easy-birthday-card-6.jpg" alt="Avatar" class="image"style="border-radius: 15px;">
        <div class="overlay">Handmade Card</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://www.worldatlas.com/r/w1200/upload/89/99/3b/shutterstock-1263201358.jpg" alt="Avatar" class="image"style="border-radius: 15px;">
        <div class="overlay">Plant</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://www.purplelindacrafts.co.uk/ekmps/shops/purplelinda/images/king-cole-vogue-dk-girls-sweater-cardigan-knitting-pattern-4462-21190-p.jpg" alt="Avatar" class="image"style="border-radius: 15px;">
        <div class="overlay">Sweater</div>
      </div>
      <div class="col-md-3" id="shopping-cart">
        <img src="https://i.pinimg.com/originals/e6/14/cb/e614cb22d5556b0643e9241b91c4553b.jpg" alt="Avatar" class="image"style="border-radius: 15px;">
        <div class="overlay">Bangles</div>
      </div>
    </div>
  </div>
  <hr style="border:5px solid rgb(0, 39, 105); border-radius: 50px">
</section>

<section>
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-md-3">
        <img src="https://previews.123rf.com/images/yganko/yganko1306/yganko130600059/20088039-vector-best-seller-gold-sign-label-template.jpg" style="height:300px;width:300px">
      </div>
      <div class="col-md-3">
        <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhKNzDomkYgGbh8Op6mz3zMKPQPd2x13bkXQ&usqp=CAU" style="height:300px;width:300px;" class="image1">
        <div class="over">
          <div class="text">
            <h4>Mr. John</h4>
            <p>Best Seller: 1.5 lakh</p>
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box" >
        <img src="https://st3.depositphotos.com/1037987/15097/i/600/depositphotos_150975580-stock-photo-portrait-of-businesswoman-in-office.jpg" style="height:300px;width:300px;" class="image1">
        <div class="over">
          <div class="text"></div>
        </div>
      </div>
      </div>
      <div class="col-md-3">
        <div class="box">
        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29uJTIwd2l0aCUyMHNtYXJ0cGhvbmV8ZW58MHx8MHx8&w=1000&q=80"style="height:300px;width:300px;" class="image1">
        <div class="over">
          <div class="text"></div>
        </div>
      </div>
      </div>
    </div>
    <hr style="border:5px solid rgb(0, 39, 105); border-radius: 50px">
  </div>
</section>

<footer class="footer mt-auto text-white text-center " style="background-color:#1a123a;width: 100%;">
  <div class="container">
      <!-- <span>&copy;Pallavi-Shopping-cart</span> -->
      <!-- footer -->



  <div class="footer-row">
      <div class="footer-col-1">
          <div class="footer-heading">
               <p>ABOUT</p>
          </div>
          <div class="footer-list">
              <a href="/request">Want to become Seller?</a>
              <a href="#">About Us</a>
              <a href="#">Careers</a>
              <a href="#">Decozee Stories</a>
              <a href="#">Press</a>
              <a href="#">Decozee Wholesale</a>
          </div>
      </div>
      <div class="footer-col-2">
          <div class="footer-heading">
               <p>HELP</p>
          </div>
          <div class="footer-list">
              <a href="#">Payments</a>
              <a href="#">Shipping</a>
              <a href="#">Cancellation & Returns</a>
              <a href="#">FAQ</a>
              <a href="#">Report Infringement</a>
              
          </div>
      </div>
      <div class="footer-col-3">
          <div class="footer-heading">
               <p>POLICY</p>
          </div>
          <div class="footer-list">
              <a href="#">Return Policy</a>
              <a href="#">Terms Of Use</a>
              <a href="#">Security</a>
              <a href="#">Privacy</a>
              <a href="#">Sitemap</a>
              <a href="#">EPR Compliance</a>
          </div>
      </div>
      <div class="footer-col-4">
          <div class="footer-heading">
               <p>SOCIAL</p>
          </div>
          <div class="footer-list">
              <a href="#">Facebook</a>
              <a href="#">Twitter</a>
              <a href="#">YouTube</a>
             
          </div>
      </div>

      <div class="footer-col-5">
          <div class="footer-heading">
               <p>Mail Us</p>
          </div>
          <div class="footer-list">
               <p>decozee123@gmail.com</p>
             
          </div>
      </div>

      <div class="footer-col-6">
          <div class="footer-heading">
               <p>Registered Office Address</p>
          </div>
          <div class="footer-list-address">
           <p>Decozee ,</p>
           <p>Buildings Alyssa, Begonia &</p>
           <p>Clove Embassy Tech Village,</p>
           <p>Bengaluru, 560103,</p>
             
          </div>
      </div>
  </div>
  <div class="footer-row2">
      <div class="footer-row2-col">
          <p> <i class="fas fa-shopping-bag"></i>Sell On Decozee</p>
      </div>
      <div class="footer-row2-col">
          <p><i class="fas fa-star"></i>Advertise</p>
      </div>
      <div class="footer-row2-col">
          <p><i class="fas fa-gift"></i>Gift Cards</p>
      </div>
      <div class="footer-row2-col">
          <p><i class="fas fa-question-circle"></i>Help Center</p>
      </div>
  </div>


  </div>
</footer>

<script>
    (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</head>





  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
  integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
  crossorigin="anonymous"></script>
</body>
</html>