
.products{
    margin:5px auto;
}
.products .card img{
    padding:15px;
    height:220px;
}
.products .card {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 5px auto;
  width: 90%;
  height: 95%;
  
}

#heading {
  width: 98%;
  /* background-color: #e9ecef; */
  /* background-color: #fad2e1; */
  background-color: #84DFFF;
  padding: 16px;
  margin: 10px auto;
  border-radius: 10px;
  margin-bottom:30px;
}
#heading i{
   
   border-radius:90%;
   color:#ff0022;
}

.navbar-brand {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1em;
}

@media (max-width: 375px) {
  .card {
    width: 21rem;
  }
}

@media (min-width: 375px) {
  .card {
    width: 27rem;
  }
}
#pay{
  background-image: linear-gradient(rgba(39, 33, 33, 0.808), rgba(75, 71, 71, 0.658)),
    url("https://images.unsplash.com/photo-1469317835793-6d02c2392778?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1504&q=80");
    color:white;
}
#paybody{
  padding: 40px;
}
 #pay input,#add input,#edit input {
  background-color:transparent;
  outline: 0;
  border-width: 0 0 3px;
  border-color: black;
  padding: 15px;
}
#pay input:focus{
  outline:none;
  
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease; 
  text-indent: -100%;
  opacity: 1;
}


.img-zoom-container {
  position: relative;
  
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 80px;
  height: 80px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 400px;
  height: 300px;
}



/* editing */
/* <!-- footer --> */
footer{
  background-color: #172337;
  height: 332;
}
.footer-row{
  width: 100%;
  height: 270px;
  display: flex;
  padding: 30px 60px;
}
.footer-row2{
  display: flex;
  border-top: 1px solid #454d5e;
  justify-content: space-evenly;
}
.footer-col-1{
  width: 15%;
}
.footer-col-2{
  width: 15%;
}
.footer-col-3{
  width: 15%;
}
.footer-col-4{
  width: 10%;
}
.footer-col-5{
  width: 20%;
  border-left:1px solid #454d5e ;
  height: 120px;
  padding-left: 25px;
}
.footer-col-6{
  width: 20%;
  padding-left: 50px;
}
.footer-heading p{
color: #878787;
font-size: 12px;
font-weight: 400;
text-align: left;
padding: 10px 0px;
cursor: pointer;
text-transform: uppercase;
}
.footer-list a{
  text-align: left;
  display: block;
  text-decoration: none;
 text-transform: capitalize;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0px;
}
.footer-list a:hover{
  text-decoration: underline;
}
.footer-list  p{
  text-align: left;
  display: block;
  color: white;
  font-size: 12px;
  font-weight: 100px;
  padding:5px 0px;
  line-height: 20px;
  cursor: pointer;
}
.footer-list-address p{
  text-align: left;
  display: block;
  color: white;
  font-size: 12px;
  font-weight: 100px;
  line-height: 20px;
   cursor: pointer;
}
.footer-list-address span{
  color: rgb(60,109,245);
  cursor: pointer;
}
.footer-row2-col p{
color: white;
  font-size: 15px;
  font-weight: 100px;
  line-height: 20px;
   cursor: pointer;
    text-align: center;
    line-height: 50px;
    letter-spacing: .7px;
}
.fa-shopping-bag, .fa-star, .fa-gift ,.fa-question-circle{
  color: #ffd700;
  cursor: pointer;
 padding-right: 10px;
 font-size: 15px;
}